<main>
  <section id="contactSection" class="pt-1">
    <div class="container py-1">
      <div class="row py-1">
        <div class="col-md-5 mx-auto">
          <div class="contect text-center">
            <h1 class="fw-bolder mt-4">CONTACT SECTION</h1>
            <div class="icon_container mx-auto">
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
        </div>

        <div class="col-md-8 pb-5 mt-5 mx-auto">
          <div class="content">
            <div class="group">
              <input type="text" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>userName:</label>
            </div>

            <div class="group">
              <input type="number" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>userAge:</label>
            </div>
            <div class="group">
              <input type="email" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>userEmail:</label>
            </div>
            <div class="group">
              <input type="password" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>userPassword:</label>
            </div>

            <button class="btn btn-success p-2">Send Message</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
