<main>
  <section id="homesection">
    <div class="container py-3">
      <div class="row py-5">
        <div class="col-md-5 mx-auto">
          <div class="contect text-center">
            <img src="assets/images/avataaars.svg" alt="image" class="w-50" />
            <h1 class="text-white fw-bolder mt-4">START FRAMEWORK</h1>
            <div class="icon_container mx-auto">
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="text-white mt-3 fw-normal">
              Graphic Artist - Web Designer - Illustrator
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
